* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 1.6rem;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    min-width: 173px;
    height: 57px;
    color: #fff;
    text-align: center;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    background: #143c3c;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
    color: #dddcdc;
}

.section-heading {
    width: 520px;
    color: #152427;
    position: relative;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.238; /* 123.81% */
}

.section-heading::after {
    content: "";
    display: block;
    position: absolute;
    width: 66px;
    height: 2px;
    background: #143c3c;
    bottom: 19px;
    right: 103px;
}

.section-title {
    margin-left: 46px;
    color: #152427;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.125; /* 112.5% */
    position: relative;
}

.section-title::before {
    content: "";
    display: block;
    position: absolute;
    top: 9px;
    width: 25px;
    height: 1px;
    background-color: currentColor;
}

.section-desc {
    color: #7d8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.625; /* 162.5% */
}

/* ================ HEADER ================= */
.header {
    padding: 28px 0 12px;
    position: sticky;
    top: -16px;
    z-index: 3;
    background: #fff;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.headering__logo {
    padding-top: 15px;
}

.header__navigation::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
    bottom: -13px;
}

.header__action {
    display: flex;
}

.headering__nav {
    display: flex;
    align-items: center;
    margin-right: 88px;
}

.headering__nav--action {
    font-family: "Public Sans";
    color: #7d8188;
    padding: 0 19px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.headering__nav--action:hover {
    color: #152427;
}

.headering__nav--action.active {
    color: #152427;
    position: relative;
}

.headering__nav--action.active::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 2px;
    background: #143c3c;
    bottom: -27.5px;
    left: 19px;
    z-index: 1;
}

/* ================ HERO ================= */

.hero {
    margin-top: 116px;
    padding-bottom: 87px;
    position: relative;
}

.hero__floating {
    z-index: 2;
    position: absolute;
}

.avstract {
    position: absolute;
    left: 254.3px;
    top: -24px;
    z-index: 1;
}

.avstract-2 {
    position: absolute;
    top: 494px;
    left: 1010px;
}

.line-up {
    position: absolute;
    left: 297px;
    top: -32px;
}

.line-down {
    width: 545px;
    height: 364px;
    position: absolute;
    left: 504px;
    top: 249px;
}

.hero__sink {
    display: flex;
    align-items: center;
    gap: 76px;
}

.hero__header {
    width: 34.5%;
    flex-shrink: 0;
}

.hero__header--header {
    width: 368px;
    color: #152427;
    font-family: "Public Sans";
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__header--desc {
    margin-top: 20px;
    color: #575d5e;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.hero__header--cta {
    display: flex;
    align-items: center;
    margin-top: 42px;
}

.action-btn {
    display: flex;
    align-items: center;
    margin-left: 36px;
}

.action-btn__play {
    margin-left: -20px;
}

.action-btn__text {
    margin-left: 15px;
    color: #152427;
    width: 118px;
    font-size: 1.8rem;
    font-weight: 600;
}

.hero__image {
    position: relative;
}

.hero__image--bg-img {
    position: absolute;
    left: 25%;
    top: 25%;
    width: 340px;
    height: 340px;
    flex-shrink: 0;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
}

.hero__image--thumb {
    display: flex;
    gap: 20px;
    flex-shrink: 0;
}

.hero__thumb {
    /* display: inline-block; */
    width: 202px;
    height: 466px;
    flex-shrink: 0;
    border-radius: 110px;
    position: relative;
}

.hero__thumb:nth-child(2) {
    margin-top: 77px;
}

/* ================ LOGO ================= */
.logo {
    margin-top: 42px;
}

.logo__section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 201px;
    flex-shrink: 0;
    background: #e2eddf;
    border: 1px solid #e2eddf;
    border-radius: 100.5px;
}

.logo__section--google {
    color: #143c3c;
    font-size: 3.1rem;
    font-weight: 500;
}

.logo__section--slack {
    display: flex;
    align-items: center;
    margin-left: 47px;
    color: #143c3c;
    font-size: 3.2rem;
    font-weight: 600;
}

.image__slack {
    display: block;
    margin-right: 3px;
}

.logo__section--agworld {
    display: flex;
    align-items: center;
    margin-left: 51px;
    color: #163c35;
    font-size: 2.6rem;
    font-weight: 400;
}

.image__agworld {
    display: block;
    margin-right: 11px;
}

.logo__section--riotinto {
    margin-left: 63px;
    font-family: "Sonsie One", sans-serif;
    color: #143c3c;
    font-size: 2.3rem;
    font-weight: 400;
}

.logo__section--heroku {
    display: flex;
    align-items: center;
    margin-left: 63px;
    color: #143c3c;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
    text-transform: uppercase;
}

.image__heroku {
    display: block;
    margin-right: 10px;
}

/* ================ SERVICE ================= */
.service {
    margin-top: 106px;
}

.service__header--title {
    position: relative;
    margin-left: 46px;
    line-height: 1.625; /* 162.5% */
}

.service__header--descript {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__header--header {
    margin-top: 12px;
    width: 520px;
    flex-shrink: 0;
    /* position: relative; */
}

.service__header--arrow {
    display: flex;
    gap: 17px;
}

.service__header--arrow svg:last-child {
    rotate: 180deg;
}

.service__arrow {
    border-radius: 50%;
    background: #e2eddf;
    color: #152427;
}

.service__arrow:hover {
    background: #143c3c;
    color: #fff;
    cursor: pointer;
}

.service__list {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 76px;
}

.service__item--img {
    display: block;
    width: 370px;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.service__item--infor {
    padding: 24px 0;
}

.service__title {
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.service__desc {
    margin-top: 18px;
    width: 268px;
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.714; /* 171.429% */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ================ ABOUT ================= */
.about {
    margin-top: 157px;
}

.about__infor {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    position: relative;
}

.about__image {
    width: 600px;
    display: flex;
    gap: 21px;
    position: relative;
}

.about__image--img {
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__image--img:first-child {
    margin-top: 90px;
}

.about__image--img:last-child {
    margin-top: 13px;
}

.about__image--avstract {
    position: absolute;
    left: 46px;
    top: -18px;
    z-index: 1;
}

.about__image--line {
    position: absolute;
    left: 50px;
    top: 25px;
    transform: rotate(12.645deg);
}

.about__designer {
    width: 143px;
    height: 144px;
    position: absolute;
    bottom: 8px;
    right: -9px;
    padding: 19px 23px 11px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about__designer--title {
    color: #152427;
    font-family: "Public Sans";
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.about__designer--total {
    margin-top: 6px;
    color: #575d5e;
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4; /* 140% */
}

.about__percent,
.about__loading {
    display: block;
    margin-top: 10px;
    color: #152427;
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
    position: relative;
}

.about__percent::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: #eaeaea;
    border-radius: 10px;
}

.about__percent::after {
    content: "";
    display: block;
    position: absolute;
    width: 40%;
    height: 2px;
    bottom: -3px;
    background: #83a17d;
    border-radius: 10px;
}

.about__loading {
    position: absolute;
    margin-top: 6px;
    right: 23px;
}

.about__grid {
    display: grid;
    grid-template-columns: 33px 1fr;
    grid-template-rows: 11px 14px;
    row-gap: 5px;
    column-gap: 23px;
    margin-top: 20px;
}

.about__team {
    margin-left: -6px;
    color: #152427;
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about__dot {
    display: block;
    width: 5px;
    height: 5px;
    padding: 2.5px;
    border-radius: 50%;
    background: #143c3c;
    border: 3px solid #eaeaea;
}

.avatar-group {
    display: flex;
}

.about__avatar {
    width: 16px;
    height: 16px;
    margin-left: -6px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #fff;
}

.about__avatar:first-child {
    margin-left: 0;
}

.about__space {
}

.about__header {
    margin-top: 20px;
}

.about__desc {
    margin-top: 11px;
}

.about__quantity {
    margin-top: 36px;
}

.about__quantity--descipt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    position: relative;
}

.about__quantity--descipt strong {
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.2381; /* 123.81% */
}

.about__quantity--infor {
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71429; /* 171.429% */
}

.about__quantity--descipt::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #83a17d;
    position: absolute;
    bottom: -20px;
}

.about__quantity--descipt:last-child {
    margin-top: 58px;
}

/* ================ PROCESS ================= */
.process {
    margin-top: 105px;
}

.process__infor--header {
    width: 477px;
}

.process__infor--header.section-heading::after {
    bottom: 18px;
    right: -9px;
}

.process__body {
    margin-top: 81px;
}

.process__body--item {
    display: flex;
    gap: 175px;
    position: relative;
    padding: 46px 41px 21px 30px;
    border-radius: 33px;
    border-bottom: 3px solid #83A17D;
}

.process__body--item:first-child {
    padding: 57px 41px 76px 30px;
}

.process__body--item:hover {
    border-bottom: 3px solid transparent;
    background: #E2EDDF;
}

.process__body--title {
    display: inline-flex;
    /* align-items: center; */
    gap: 64px;
}

.process__body--item .number {
    width: 109px;
    color: #143C3C;
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.7222; /* 72.222% */
}

.process_title {
    width: 176px;
}

.process__title--header {
    margin-top: 10px;
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    position: relative;
}

.process__title--learn-more {
    position: absolute;
    color: #575D5E;
    bottom: 54px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1; /* 100% */
    text-decoration: underline;
}

.process__title--header.first-child::after:hover {
    cursor: pointer;
}

.process__body-img {
    position: absolute;
    right: 51px;
    bottom: 0;
    
}

.process__body--desc {
    color: #7D8188;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55556; /* 155.556% */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ================ PROJECT ================= */
.project {
    margin-top: 148px;
    background: #143C3C;
}

.project__header {
    display: block;
    padding: 116px 0 62px;
}

.project__infor {
    display: grid;
    grid-template-columns: 457px 590px;
    column-gap: 93px;
}

.project__infor--header.section-heading::after {
    right: 97px;
    background: #83A17D;
}

.project__descript,
.project__text {
    color: #6A8383;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5556; /* 155.556% */
}

.project__descript {
    padding-top: 11px;
}

.project__text {
    margin-right: 26px;
    color: #fff;
}

.project__btn {
    display: inline-block;
    margin-top: 13px;
}

.project__body {
    margin-top: 65px;
    position: relative;
}

.project__body--img {
    width: 100%;
    height: 544px;
    object-fit: cover;
    border-radius: 22px;
}

.project__body--playbg {
    position: absolute;
    left: 511px;
    top: 213px;
    padding: 59px;
    background: #000;
    border-radius: 50%;
    opacity: 0.7;
}

.project__body--play {
    position: absolute;
    left: 511px;
    top: 213px;
    opacity: 0.7;
    z-index: 3;
}

/* ================ FEATURES ================= */
.features {
    margin-top: 140px;
    text-align: center;
}

.features__infor--header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__heading.section-heading::after {
    background: transparent;
}

.features__desc {
    margin-top: 20px;
    width: 547px;
}

.features__infor--list {
    margin-top: 103px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
}

.features__infor--item {
    width: 350px;
    padding: 60px 0 103px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
}

.features__infor--item:hover {
    margin-top: -59px;
    border: 1.5px solid transparent;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.20);
}

.features__title {
    margin-top: 26px;
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.features__item--desc {
    width: 264px;
    margin: 9px auto 0;
    color:#7D8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.714; /* 171.429% */
}

.features__item--desc:first-of-type {
    width: 286px;
}